{% extends 'events/index.html' %}
{% block content %}

<div class="app-content content">
<div class="content-wrapper">
<div class="content-wrapper-before"></div>
<div class="content-header row">
<div class="content-header-left col-md-4 col-12 mb-2">
<h3 class="content-header-title">Delete staff?</h3>
</div>
</div>




<div class="row">
<div class="col-12">
<div class="card">
<div class="card-header">
<h4 class="card-title">Are you sure to delete: {{object.name}} {{object.surname}}?</h4>
</div>

<div class="card-block">
<div class="card-body">
<div class="content-body"><!-- Basic Inputs start -->
<a href="{% url 'staff' %}"><button type="button" class="btn btn-primary btn-min-width mr-1 mb-1" href="#">Cancel</button></a>
<form method="post" id="delete-events">
{% csrf_token %}
<a href="#" onclick="document.getElementById('delete-events').submit()"><button type="button" class="btn btn-danger btn-min-width mr-1 mb-1" href="#">Delete anyway?</button></a>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
