{% extends 'events/index.html' %}
{% load crispy_forms_tags %}
{% block content %}

   <div class="app-content content">
      <div class="content-wrapper">
        <div class="content-wrapper-before"></div>
        <div class="content-header row">
          <div class="content-header-left col-md-4 col-12 mb-2">
            <h3 class="content-header-title">Treatment - vital sign</h3>
          </div>
        </div>




  <div class="row">
      <div class="col-12">
          <div class="card">
              <div class="card-header">
                  <h4 class="card-title">Vital sign - <strong>{{patient.name}} {{patient.surname}}</strong></h4>
              </div>

              <div class="card-block">
                  <div class="card-body">
                       <div class="content-body"><!-- Basic Inputs start -->
                            <form action="" method="POST">
                            {% csrf_token %}
                            {% crispy form %}
                                <button type="submit" class="btn btn-success btn-min-width mr-1 mb-1">Save</button>
                            </form>
                        </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
      </div>

   </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        var extraValueField = $("#div_id_extra_value");
        extraValueField.hide();

        $("#id_name").change(function()
            {
                var selectedValue = $(this).val();
                if (selectedValue === "BP") {
                    extraValueField.show();
            } else {
                    extraValueField.hide();
                }
            }

        )
    })
</script>
{% endblock %}
