{% extends 'events/index.html' %} {% block content %}
<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
      <div class="content-header-left col-md-4 col-12 mb-2">
        <h3 class="content-header-title">{{event.name}}</h3>
        <h4 class="content-header-title">Event status: {{event.status}}</h4>
      </div>
    </div>

    <!-- Striped rows start -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            {% if event.description %}
            <h4 class="card-title">{{event.name}} - {{event.description}}</h4>
            {% else %}
            <h4 class="card-title">{{event.name}}</h4>
            {% endif %}
            <a class="heading-elements-toggle"
              ><i class="la la-ellipsis-v font-medium-3"></i
            ></a>

            <div class="heading-elements">
              <ul class="list-inline mb-0">
                <li>
                  <a data-action="collapse"><i class="ft-minus"></i></a>
                </li>
                <li>
                  <a data-action="reload"><i class="ft-rotate-cw"></i></a>
                </li>
                <li>
                  <a data-action="expand"><i class="ft-maximize"></i></a>
                </li>
                <li>
                  <a data-action="close"><i class="ft-x"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-content collapse show">
            <div class="card-body">
              {% if event.status == "Ended" %}
              <a href="{% url 'restore-events' pk=event.id %}"
                ><button
                  type="button"
                  class="btn btn-primary btn-min-width mr-1 mb-1"
                  href="#"
                >
                  Restore event
                </button></a
              >
              <a href="{% url 'delete-events' pk=event.id %}"
                ><button
                  type="button"
                  class="btn btn-danger btn-min-width mr-1 mb-1"
                  href="#"
                >
                  Delete event
                </button></a
              >
              {% else %}
              <a href="{% url 'update-events' pk=event.id %}"
                ><button
                  type="button"
                  class="btn btn-info btn-min-width mr-1 mb-1"
                >
                  Update event
                </button></a
              >
              <a href="{% url 'close-events' pk=event.id %}">
                <button
                  type="button"
                  class="btn btn-warning btn-min-width mr-1 mb-1"
                  href="#"
                >
                  Close event
                </button></a
              >
              {% endif %}

              <h4 class="card-title">Active patient list</h4>

              {% if event.status != "Ended" %}
              <a href="{% url 'add-patient' event=event.id %}"
                ><button type="button" class="btn mr-1 mb-1 btn-success btn-lg">
                  Add patient
                </button></a
              >
              {% endif %}
            </div>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Surname</th>
                    <th scope="col">Name</th>
                    <th scope="col">Bed number</th>
                    <th scope="col">Admission date</th>
                    <th scope="col">Priority</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  {%for patient in patients%} {%if patient.status == "Active"%}
                  <tr>
                    <th scope="row">
                      <a
                        href="{% url 'detail-patient' event=event.id pk=patient.id %}"
                        >{{patient.surname}}</a
                      >
                    </th>
                    <td>{{patient.name}}</td>
                    <td>{{patient.bed_number}}</td>
                    <td>{{patient.admission_date}}</td>
                    {% if patient.priority == "YELLOW" %}
                    <td style="color: yellow">{{patient.priority}}</td>
                    {% elif patient.priority == "GREEN" %}
                    <td style="color: green">{{patient.priority}}</td>
                    {% elif patient.priority == "RED" %}
                    <td style="color: red">{{patient.priority}}</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    <td style="color: green">{{patient.status}}</td>
                  </tr>
                  {% endif %} {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Patients discharged from the hospital</h4>

            <a class="heading-elements-toggle"
              ><i class="la la-ellipsis-v font-medium-3"></i
            ></a>

            <div class="heading-elements">
              <ul class="list-inline mb-0">
                <li>
                  <a data-action="collapse"><i class="ft-minus"></i></a>
                </li>
                <li>
                  <a data-action="reload"><i class="ft-rotate-cw"></i></a>
                </li>
                <li>
                  <a data-action="expand"><i class="ft-maximize"></i></a>
                </li>
                <li>
                  <a data-action="close"><i class="ft-x"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-content collapse show">
            <div class="card-body"></div>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Surname</th>
                    <th scope="col">Name</th>
                    <th scope="col">Additional info</th>
                    <th scope="col">Priority</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  {%for patient in patients%} {%if patient.status != "Active"%}
                  <tr>
                    <th scope="row">
                      <a
                        href="{% url 'detail-patient' event=event.id pk=patient.id %}"
                        >{{patient.surname}}</a
                      >
                    </th>
                    <td>{{patient.name}}</td>
                    <td>{{patient.additional_info}}</td>
                    {% if patient.priority == "YELLOW" %}
                    <td style="color: yellow">{{patient.priority}}</td>
                    {% elif patient.priority == "GREEN" %}
                    <td style="color: green">{{patient.priority}}</td>
                    {% elif patient.priority == "RED" %}
                    <td style="color: red">{{patient.priority}}</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    <td style="color: red">{{patient.status}}</td>
                  </tr>
                  {% endif %} {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Striped rows end -->

    <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
      <a href="#"
        ><button type="button" class="btn btn-outline-primary">
          Save event detail to pdf
        </button></a
      >

      <a href="{% url 'send-patient-list' event_pk=event.id %}"
        ><button type="button" class="btn btn-outline-primary">
          Send event detail via email
        </button></a
      >
    </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->
{% endblock %}
